{% extends 'base.html' %}

{% block content %}

{% load static %}

<div class="container mt-5">
  <h2>Persoonlijke bestanden leerling</h2>
  <div class="card">
      <div class="card-body">
          <ul class="list-group">
              {% for materiaal in object.persoonlijk_materiaal.all %}
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                      <div>
                          <h5>{{ materiaal.titel }}</h5>
                          <p>{{ materiaal.omschrijving }}</p>
                      </div>
                      <a href="{% url 'Login:materiaal_download' materiaal.pk %}" class="btn btn-primary">Download</a>
                  </li>
              {% endfor %}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                  <div>
                      <h5>Logboeken samenvatting</h5>
                      <p>Logboeken samenvattingen</p>
                  </div>
                  <a href="{% url 'Login:student_detail_2' leerling.pk %}" class="btn btn-primary">Rapport</a>
              </li>
          </ul>
      </div>
  </div>
</div>


<div class="container">
  <div class="container" id="contentToPDF">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title">{{ object.naam|title }} {{ object.achternaam|title}}</h1>
              <p class="card-text">
                <strong>School:</strong> {{ object.school }}<br>
                <strong>Niveau:</strong> {{ object.niveau }}<br>
                <strong>Klas:</strong> {{ object.klas }}<br>
                <strong>Email:</strong> {{ object.email }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <h2>Sessions</h2>
    <div class="row">
      {% for sessie in object.sessie_set.all %}
        <div class="col-md-4 mb-3">
          <div class="card">
            <img class="card-img-top" src="{% static 'Login/Schoolklaar.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ sessie.datum }}</h5>
              <p class="card-text">Leerling:<a href="{% url 'Login:student_detail' leerling.pk %}"> {{sessie.Leerling.naam}}  </a></p>
              <p class="card-text"> Begeleider: {{ sessie.begeleider }}</p>
              <p class="card-text"> School: {{ sessie.Leerling.school }}</p>
              <p class="card-text"> Niveau: {{ sessie.Leerling.niveau }}</p>
              <p class="card-text"> Klas: {{ sessie.Leerling.klas }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Vak: {{ sessie.vak }}</li>
              <li class="list-group-item">Inzicht: {{ sessie.inzicht }}</li>
              <li class="list-group-item">Kennis: {{ sessie.kennis }}</li>
              <li class="list-group-item">Werkhouding: {{ sessie.werkhouding }}</li>
              <li class="list-group-item">Extra: {{ sessie.extra }}</li>
            </ul>
            <div class="card-body">
              <a href="{% url 'Login:sessie_update' sessie.pk %}" class="card-link">Edit</a>
              <a href="{% url 'Login:sessie_delete' sessie.pk %}" class="card-link">Delete</a>
             
          </div>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}