{% extends 'base.html' %}

{% block title %}Alle leerlingen{% endblock %}

{% block content %}
    <h1>Alle leerling</h1>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in Student %}
                <tr>
                    <td>{{ Leerling.naam }}</td>
                    <td>{{ Leerling.achternaam }}</td>
                    <td>{{ Leerling.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
