{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
  <h1>Alle leerlingen</h1>
  
  <!-- Search form -->
  <form id="search-form" class="mb-3"> <!-- added mb-3 for some margin bottom -->
    <div class="form-group">
      <input type="text" name="search-input" id="search-input" class="form-control w-100" placeholder="Zoek op naam">
    </div>
  </form>

  <!-- Student cards here -->
  <div class="row" id="student-card-container">
    <!-- Will be populated with JS -->
  </div>
</div>


{% block javascript %}
<script>
// function to populate table
function populateTable(data) {
  var cardContainer = document.getElementById('student-card-container');
  // Clear the container
  cardContainer.innerHTML = '';

  // Populate the container with cards
  data.forEach(student => {
    var cardHTML = `
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">${student.naam} ${student.achternaam}</h5>
            <p class="card-text">
              Email: ${student.email}<br>
              School: ${student.school.naam}
            </p>
            <a href="/Login/student/${student.id}" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    `;
    cardContainer.innerHTML += cardHTML;
  });
}


// Fetch all students when page loads
fetch(`{% url 'Login:api_student' %}`, {
  method: 'GET',
  headers: {
      'Content-Type': 'application/json',
      'Authorization': 'Token your_token_here'  // replace this with the actual token
  },
})
.then(response => response.json())
.then(data => populateTable(data));

// Fetch students based on search
document.getElementById('search-input').addEventListener('input', function(event) {
  event.preventDefault();

  var searchInput = document.getElementById('search-input').value;

  fetch(`{% url 'Login:api_student' %}?search-input=${searchInput}`, {
      method: 'GET',
      headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Token your_token_here'  // replace this with the actual token
      },
  })
  .then(response => response.json())
  .then(data => populateTable(data));
});

</script>
{% endblock javascript %}
{% endblock %}

