 
          $('body').scrollTop(0);  
          generatePDF();  
      });  
      
      function generatePDF() {  
        console.log('generatePDF called');
        getCanvas().then(function (canvas) {  
            console.log('canvas generated successfully');
            var imgData = canvas.toDataURL('image/png');
            
            var doc = new jsPDF({
                orientation: 'portrait',
                unit: 'mm',
                format: 'a4'
            });
            
            var pageHeight = doc.internal.pageSize.height;
            var pageWidth = doc.internal.pageSize.width;
    
            var imgHeight = canvas.height * pageWidth / canvas.width;
            var heightLeft = imgHeight;
            var position = 0;
    
            doc.addImage(imgData, 'PNG', 0, position, pageWidth, imgHeight);
            heightLeft -= pageHeight;
            
            while (heightLeft >= 0) {
                position = heightLeft - imgHeight;
                doc.addPage();
                doc.addImage(imgData, 'PNG', 0, position, pageWidth, imgHeight);
                heightLeft -= pageHeight;
            }
    
            doc.save('samenvatting_{{sessie.Leerling.naam|title}}{{sessie.Leerling.achternaam|title}}.pdf');  
            form.width(cache_width);  
        }).catch(function (error) {
            console.log('Error in generatePDF', error);
        });  
    }
     
      
      function getCanvas() {  
          console.log('getCanvas called');
          form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');  
          return html2canvas(document.querySelector("#contentToPDF"), {  
              imageTimeout: 2000,  
              removeContainer: true  
          }).then(function (canvas) {
              console.log('canvas generated');
              return canvas;
          }).catch(function (error) {
              console.log('Error in getCanvas', error);
          });  
      }